<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedalpals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminTransactionDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageLocationsAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewQueryAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Contact" />
        <activity
            android:name=".ViewCycleAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewUserAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserLogin" />
        <activity
            android:name=".AdminMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConfirmRide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateCycle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminLogin" />
        <activity
            android:name=".Transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetRide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageCycle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterCycle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Signup" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>